<%# form, cities %>

<table class="table table-striped manufacturer-new-table">
	<tr>
		<td> 廠商名</td>
		<td> 
			<%= form.text_field :name,:required=>true,:class=>"t-field",:required=>true %>
		</td>
	</tr>

	<tr>
		<td> 電話 </td>
		<td>
			<div class="attribute-field-group">
				<% @manufacturer.phones.each_with_index do |phone,index| %>
					<div class="attribute-field">
						<%= hidden_field_tag "manufacturer[phones_attributes][#{index}][id]", phone.id %> 
						<%= text_field_tag "manufacturer[phones_attributes][#{index}][number]", phone.number,:class=>"t-field" %> 
						<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"btn btn-danger btn-xs" %>	
					</div>
				<% end %>
				<%= link_to "新增欄位","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-primary btn-xs" %>				
			</div>
		</td>
	</tr>

	<tr>
		<td> 傳真 </td>
		<td> 
			<div class="attribute-field-group">
				<% @manufacturer.faxes.each_with_index do |fax,index| %>
					<div class="attribute-field">
						<%= hidden_field_tag "manufacturer[faxes_attributes][#{index}][id]", fax.id %> 
						<%= text_field_tag "manufacturer[faxes_attributes][#{index}][number]", fax.number,:class=>"t-field" %> 
						<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"btn btn-danger btn-xs" %>	
					</div>
				<% end %>
			<%= link_to "新增欄位","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-primary btn-xs" %>				
			</div>
		</td>
	</tr>

	<tr>
		<td> 描述 </td>
		<td> <%= form.text_field :description,:class=>"t-area" %> </td>
	</tr>

	<tr>
		<td> 縣市 </td>
		<td> <%= select_tag "manufacturer[address_attributes][0][city_id]", options_from_collection_for_select(City.all, "id", "name"),:class=>"manufacturer-city-select"%> </td>
	</tr>

	<tr>
		<td> 市/鎮/區 </td>
		<td> <%= select_tag "manufacturer[address_attributes][0][district_id]",
			 options_from_collection_for_select(City.all.first.districts, "id", "name"),:class=>"manufacturer-district-select"%> </td>
	</tr>

	<tr>
		<td> 地址 </td>
		<td> 
			<%= hidden_field_tag "manufacturer[address_attributes][id]",@manufacturer.address.try(:id) %>
			<%= text_field_tag "manufacturer[address_attributes][address]", @manufacturer.address_address,:class=>"t-area" %>
		</td>
	</tr>
</table>


<div class="manufacturer-store" style="display:none;"><%=city_district_list%></div>

<script>

	$('.manufacturer-city-select').change(function(e){
		var list = $.parseJSON($('.manufacturer-store').text());
		var index = parseInt($(this).val());
		var districts = list[index];
		var options = ""
		districts.forEach(function(district){

			options += "<option value=" + district['id'] + ">" + district['name'] + "</option>"
		})

		$('.manufacturer-district-select').html(options)
	})


</script>



