<div class="menu-box">
	<div class="menu-inner-1">
		<%= link_to "客戶", admin_customers_path,:class=>"" %>
		<%= link_to "送貨員",admin_delivery_people_path,:class=>"" %>
		<%= link_to "廠商", admin_manufacturers_path,:class=>"selected" %>
	</div>
</div>

<%= form_for @manufacturer, :url=>admin_manufacturer_path(@manufacturer), :method=>:patch do |form| %>

	<div class="content-box">
		<div class="content-inner">
		
		<%= render :partial=>'manufacturers/form', :locals=>{:form=>form, :cities=>@cities} %>

		</div> <%# content-inner %>
	</div> <%# content-box %>
<% end %>

