<%= render :partial=>"admin/header.html",:locals=>{:selected=>"manufacturer"} %>

<div class="content-box">
	<div class="content-inner">
	
		<table class="table table-striped manufacturer-new-table">
			<tr>
				<td> 廠商名</td>
				<td> <%= @manufacturer.name %> </td>
			</tr>

			<tr>
				<td> 電話 </td>
				<td> <%= @manufacturer.phones.first.try(:number) %> </td>
			</tr>

			<tr>
				<td> 傳真 </td>
				<td> <%= @manufacturer.faxes.first.try(:number) %> </td>
			</tr>

			<tr>
				<td> 描述 </td>
				<td> <%= @manufacturer.description %> </td>
			</tr>

			<tr>
				<td> 縣市 </td>
				<td> 
					<%= @manufacturer.address.city.name if @manufacturer.address %></td>
			</tr>

			<tr>
				<td> 市/鎮/區 </td>
				<td> <%= @manufacturer.address.district.name if @manufacturer.address %></td>
			</tr>

			<tr>
				<td> 地址 </td>
				<td> <%= @manufacturer.address_address %> </td>
			</tr>

		</table>
	

		<h3> 表單欄位 </h3>
		<p>
			<% @manufacturer.manufacturer_keys.each do |key| %>
				<% if key.name.present? %>
					<span class="label label-warning"> <%=key.name%></span>
				<% end %>
			<% end %>
		</p>
	</div> <%# content-inner %>
</div> <%# content-box %>


