<div class="heading-box">
	<div class="heading-inner">
		<div class="info-box">
			<h2 class="title">
			  廠商- <%= @manufacturer.name %>
			</h2>

			<div class="message">
				<% if flash[:success].present? %>
					<div class="success"> <%= flash[:success] %> </div>
				<% elsif flash[:fail].present? %>
					<div class="fail"> <%= flash[:fail] %> </div>
				<% end %>
			</div>

			<ul class="sub-nav">
				<li> <%= link_to "回廠商清單", manufacturers_path %> </li>
			</ul>			
		</div>

		<div class="submit-box"> 
			<%= link_to "移除這份表單",manufacturer_path(@manufacturer), :method=>:delete,:class=>"btn btn-danger", :data=>{:confirm=>"#{@manufacturer.name}即將被移除"} %>
			<%= link_to "修改資料", edit_manufacturer_path(@manufacturer), :class=>"btn btn-warning" %>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">
	
		<table class="table table-striped manufacturer-new-table">
			<tr>
				<td> 廠商名</td>
				<td> <%= @manufacturer.name %> </td>
			</tr>

			<tr>
				<td> 電話 </td>
				<td> <%= @manufacturer.phones.first.try(:number) %> </td>
			</tr>

			<tr>
				<td> 傳真 </td>
				<td> <%= @manufacturer.faxes.first.try(:number) %> </td>
			</tr>

			<tr>
				<td> 描述 </td>
				<td> <%= @manufacturer.description %> </td>
			</tr>

			<tr>
				<td> 縣市 </td>
				<td> <%= @manufacturer.addresses.first.city.name if @manufacturer.addresses.first %></td>
			</tr>

			<tr>
				<td> 市/鎮/區 </td>
				<td> <%= @manufacturer.addresses.first.district.name if @manufacturer.addresses.first %></td>
			</tr>

			<tr>
				<td> 地址 </td>
				<td> <%= @manufacturer.addresses.first.try(:address) %> </td>
			</tr>

		</table>
	

		<h3> 表單欄位 </h3>
		<p>
			<% @manufacturer.manufacturer_keys.each do |key| %>
				<% if key.name.present? %>
					<span class="label label-warning"> <%=key.name%></span>
				<% end %>
			<% end %>
		</p>
	</div> <%# content-inner %>
</div> <%# content-box %>


