<div class="menu-box">
  <div class="menu-inner-1">
    <%= link_to "個人資料", "/users/edit_profile" %>
    <%= link_to "修改密碼", "/users/edit", :class=>"selected"%>
  </div>
</div>

<div class="content-box">
  <div class="content-inner">
    
    <div class="devise-user">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="field">
          <h3>  <%= resource.email %> </h3>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password,"新密碼", :class=>"v-label" %> 
          <%= f.password_field :password, :required=>true, autofocus: true , autocomplete: "off"%>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "新密碼確認", :class=>"v-label" %>
          <%= f.password_field :password_confirmation, :required=>true, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password, "原始密碼", :class=>"v-label" %>
          <%= f.password_field :current_password, :required=>true, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "更新",:class=>"btn btn-danger" %>
          <%= link_to "不儲存離開", root_path, :class=>"btn btn-default" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
