<%= form_for @delivery_person, :url=>delivery_person_path(@delivery_person) do |form| %>
	<div class="heading-box">
		<div class="heading-inner">
			<div class="info-box">
				<h2 class="title">
				  編輯送貨員 @delivery_person
				</h2>

				<div class="message">
					<% if flash[:success].present? %>
						<div class="success"> <%= flash[:success] %> </div>
					<% elsif flash[:fail].present? %>
						<div class="fail"> <%= flash[:fail] %> </div>
					<% end %>
				</div>

				<ul class="sub-nav">
					<li> <%= link_to "回清單", delivery_people_path %> </li>
				</ul>			
			</div>

			<div class="submit-box">
				<%= form.submit "繳交表單", :class=>"btn btn-primary"	%>
			</div>
		</div>
	</div>

	<div class="content-box">
		<div class="content-inner">
		
			<table class="table">
				<tr>
					<td> <%= form.label :code, "編號" %> </td>
					<td> <%= form.text_field :code, :required=>true %>  </td>
				</tr>
				<tr>
					<td> <%= form.label :name, "名稱" %> </td>
					<td> <%= form.text_field :name, :required=>true %> </td>
				</tr>
				<tr>
					<td> <%= form.label :status, "狀態" %> </td>
					<td> <%= form.select :status, [["任職中"],["離職"]] %> </td>
				</tr>
				<tr>
					<td> <%= form.label :user_id, "使用者帳號" %> </td>
					<td> <%= form.select :user_id, User.all.map{|u| [u.email,u.id]}, :prompt => "無"%> </td>
			</table>

		</div>
	</div>

<% end %>

