<div class="heading-box">
	<div class="heading-inner">
		<div class="info-box">
			<h2 class="title">
			  送貨員清單
			</h2>

			<div class="message">
				<% if flash[:success].present? %>
					<div class="success"> <%= flash[:success] %> </div>
				<% elsif flash[:fail].present? %>
					<div class="fail"> <%= flash[:fail] %> </div>
				<% end %>
			</div>

			<ul class="sub-nav">
				<li> <%= link_to "送貨員清單", delivery_people_path %> </li>
			</ul>			
		</div>

		<div class="submit-box"> 
			<%= link_to "新增業務員", new_delivery_person_path ,:class=>"btn btn-primary" %>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">
		
		<div class="delivery-person">
			<div class="content">
				<table class="table">
					<tr>
						<td> 編號 </td>
						<td> 名稱 </td>
						<td>  </td>
					</tr>
					<% @delivery_people.each do |delivery_person| %>
						<tr>
							<td> <%= delivery_person.code %> </td>
							<td> <%= delivery_person.name %> </td>
							<td> 
								<%= link_to "內容", delivery_person_path(delivery_person), :class=>"btn btn-warning btn-xs" %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>

	</div> <%# content-inner %>
</div> <%# content-box %>


