<div class="heading-box">
	<div class="heading-inner">
		<div class="info-box">
			<h2 class="title">
			  送貨員清單
			</h2>

			<div class="message">
				<% if flash[:success].present? %>
					<div class="success"> <%= flash[:success] %> </div>
				<% elsif flash[:fail].present? %>
					<div class="fail"> <%= flash[:fail] %> </div>
				<% end %>
			</div>

			<ul class="sub-nav">
				<li> <%= link_to "送貨數", "", :class=>"sub-nav-1 selected" %> </li>
				<li> <%= link_to "基本資料", "", :class=>"sub-nav-2" %> </li>
			</ul>	
		</div>

		<div class="submit-box"> 
			<%= link_to "新增送貨員", new_delivery_person_path ,:class=>"btn btn-primary btn-xs" %>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">
		
		<div class="delivery-person">
			<div class="delivery-form-value">
				<div class="date-select">
						<%= label_tag "t-day", "顯示最近" %>
						<%= number_field_tag "t-day", 7, :class=>"day-input" %>
						天的資料 
						(到<span class="until"> <%= Date.today - 7.days %></span> )

				</div>
				<div class="t-list">
					<%= render :partial=>"delivery_people/index_list.html", :locals=>{:delivery_people=>@delivery_people, :limit_days=> 7} %>
				</div>
				<div class="delivery-form-value-list"></div>
			</div>

			<div class="delivery-profiles" style="display:none">
				<%= render :partial=>"delivery_people/index_profiles.html", :locals=>{:delivery_people_all=>@delivery_people_all} %>
			</div>

	</div> <%# content-inner %>
</div> <%# content-box %>

<script>


	$('.sub-nav-1').click(function(e){
		e.preventDefault();
		$('.sub-nav-1').addClass('selected');
		$('.sub-nav-2').removeClass('selected');

		$('.delivery-form-value').show();
		$('.delivery-profiles').hide();
	})

	$('.sub-nav-2').click(function(e){
		e.preventDefault();
		$('.sub-nav-1').removeClass('selected')
		$('.sub-nav-2').addClass('selected')

		$('.delivery-form-value').hide();
		$('.delivery-profiles').show();
	})

	$('.day-input').change(function(e){
		e.preventDefault();
		$('.delivery-form-value-list').html('');

		var days = $(this).val();
		var fromDate = new Date();

		fromDate.setDate(fromDate.getDate() - days);

		var dateString = fromDate.getFullYear() + '-' + (parseInt(fromDate.getMonth())+1) + '-' + fromDate.getDate();
		$('.until').html(dateString);

		$.ajax({
			url: "<%= delivery_people_path %>",
			dataType: "json",
			method: 'get',
			data: {'days':days},
			success: function(data){
				$('.delivery-form-value .t-list').html(data['template']);
			}
		})
	})

</script>



