<%# customer %>
<h3>
<% if customer.new_record? %>
	新增客戶
<% else %>
	<%= "編輯客戶: #{customer.name}" %> 
<% end %>
</h3>

<%= form_tag "" do %>
	<table class="table table-bordered">
		<tr>
			<td> <%= label_tag "customer[code]","編號" %> </td> 
			<td> <%= text_field_tag "customer[code]", customer.code, :required=>true %> </td>
			<td></td>
		</tr>

	<div class="admin-customer-submit">	
		<% if customer.new_record? %>
			<%= link_to "儲存","",:class=>"btn btn-primary", :onClick=>"adminCustomer.create(event,this)" %>
		<% else %>
			<%= link_to "儲存","",:class=>"btn btn-primary", :onClick=>"adminCustomer.update(event,#{customer.id},this)" %>
		<% end %>			
	</div>

 		<tr>
 			<td> <%= label_tag "customer[name]","名字" %> </td> 
 			<td> <%= text_field_tag "customer[name]", customer.name, :required=>true %> </td>
 			<td></td>
 		</tr>
 		<tr>
 			<td> <%= label_tag "customer[status]", "狀態" %> </td> 
 			<td> <%= select_tag "customer[status]", options_for_select(["經營中","結束"],customer.status) %> 
 			</td>
 			<td></td>
 		</tr>
 

		<tr>
			<td> 地址 </td>
			<td>
				<div class="attribute-field-group">
					<% customer.addresses.each_with_index do |address,index| %>
						<div class="attribute-field">
							<%= hidden_field_tag "customer[addresses_attributes][#{index}][id]", address.id %>
							<%= text_field_tag "customer[addresses_attributes][#{index}][address]",address.address %>
							<% if index ==0 %>
								<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"btn btn-danger btn-xs" %>	
							<% end %>
						</div>
 					<% end %>

					<%= link_to "新增欄位","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-primary btn-xs" %> 					
				</div>

			</td>
		</tr>
 
		<tr>
			<td> 電話 </td>
			<td>
				<div class="attribute-field-group">
					<% customer.phones.each_with_index do |phone,index| %>		
						<div class="attribute-field">
							<%= hidden_field_tag "customer[phones_attributes][#{index}][id]", phone.id %>						
							<%= text_field_tag "customer[phones_attributes][#{index}][number]",phone.number %> 
							<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"btn btn-danger btn-xs" %>	
						</div>					
 					<% end %>

					<%= link_to "新增欄位","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-primary btn-xs" %>
				</div>
			</td>
		</tr>
		
		<tr>
			<td> 傳真 </td>
			<td>
				<div class="attribute-field-group">
					<% customer.faxes.each_with_index do |fax,index| %>				
						<div class="attribute-field">
							<%= hidden_field_tag "customer[faxes_attributes][#{index}][id]", fax.id %>
							<%= text_field_tag "customer[faxes_attributes][#{index}][number]",fax.number %>
							<%= link_to "x","", :onClick=>"vAttributeRemoveRow(event,this)", :class=>"btn btn-danger btn-xs" %>						
						</div>
					<% end %>
					<%= link_to "新增欄位","", :onClick=>"vAttributeAddRow(event,this)", :class=>"btn btn-primary btn-xs" %> 		
				</div>
			</td>
		</tr>
 	</table>
 <% end %> <%# form tag %>
 
