<%# customer %>
<h3>
<% if customer.new_record? %>
	新增客戶
<% else %>
	編輯客戶:<%= customer.name %> 
<% end %>
</h3>

<%= form_tag "" do %>
	<div class="admin-customer-submit">	
		<% if customer.new_record? %>
			<%= link_to "儲存","",:class=>"btn btn-primary admin-customer-create-button" %>
		<% else %>
			<%= link_to "儲存","",:class=>"btn btn-primary admin-customer-update-button" %>
		<% end %>			
	</div>

	<table class="table table-bordered">
		<tr>
			<td> <%= label_tag "customer[code]","編號" %> </td> 
			<td> <%= text_field_tag "customer[code]", customer.code %> </td>
		</tr>
		<tr>
			<td> <%= label_tag "customer[name]","名字" %> </td> 
			<td> <%= text_field_tag "customer[name]", customer.name %> </td>
		</tr>
		<tr>
			<td> <%= label_tag "customer[status]", "狀態" %> </td> 
			<td> <%= text_field_tag "customer[status]", customer.status %> </td>
		</tr>

		<% customer.addresses.each_with_index do |address,index| %>
			<% pre_text = "customer[addresses_attributes][#{index}]" %>
			<tr>
				<td> <%= label_tag "#{pre_text}[address]","地址#{index+1}" %> </td> 
				<td> <%= text_field_tag "#{pre_text}[address]",address.address %> </td>
			</tr>
		<% end %>
		
		<% customer.phones.each_with_index do |phone,index| %>		
			<% pre_text = "customer[phones_attributes][#{index}]" %>
			<tr>
				<td> <%= label_tag "#{pre_text}[number]","電話#{index+1}" %> </td> 
				<td> <%= text_field_tag "#{pre_text}[number]",phone.number %> </td>
			</tr>
		<% end %>

		<% customer.faxes.each_with_index do |fax,index| %>		
			<% pre_text = "customer[faxes_attributes][#{index}]" %>
			<tr>
				<td> <%= label_tag "#{pre_text}[number]","傳真#{index+1}" %> </td> 
				<td> <%= text_field_tag "#{pre_text}[number]",fax.number %> </td>
			</tr>
		<% end %>
	</table>
<% end %> <%# form tag %>

