<%# customers, search_key %>

<div class="info-box2">
	<%= form_tag admin_customers_path, :method=>:get do %>
	<div class="search">
		<%= text_field_tag :search, search_key %>
		<%= submit_tag "搜尋", :class=>"btn btn-warning btn-xs" %>
	</div>

	<div class="sort">
		<%= select_tag "sort", 
				options_for_select([["無","id"],
														["客戶編號","code"],
														["店名","name"],
														["狀態","status"],
														["編輯時間","updated_at"],
														["建立時間","created_at"]],@sort) %>
		<%= select_tag "order", 
				options_for_select([["小->大","ASC"],["大->小","DESC"]],@order) %>
		<%= submit_tag "排序", :class=>"btn btn-info btn-xs" %>
	</div>
	<% end %>

	<div class="new-button">
		<%= link_to "新增客戶資料","",:class=>"btn btn-primary btn-xs", :onClick=>"adminCustomer.newPage(event)" %>
	</div>
</div>

<div class="info-box">
	<div class="page-box">
		<%= paginate customers %>	
	</div>
	<div class="page-box1">
		<%= page_entries_info customers, :entry_name=>"客戶" %>		
	</div>

</div>

<table class="admin-customer-content table table-bordered">
	<thead>
		<tr>
			<td width="3%">  </td>
			<td width="5%"> 編號 </td>
			<td width="10%"> 店名 </td>
			<td width="8%"> 狀態 </td>
			<td width="7%"> 縣市 </td>
			<td width="20%"> 地址 </td>
			<td width="12%"> 電話 </td>
			<td width="12%"> 傳真 </td>
			<td width="12%"> 描述 </td>
			<td width="5%"></td>
		</tr>
	</thead>
	<tbody>
		<% customers.each_with_index do |customer,index| %>
		<tr>
			<td> <%= index+1 %> </td>
			<td> <%= customer.code %> </td>
			<td> <%= customer.name %> </td>
			<td> 
				<%= link_to setup_customer_status(customer).status, "", :onClick=>"adminCustomer.setStatus(event,#{customer.id},this)", :class=>"customer-status" %> 
			</td>
			<td>
				<%= customer.address.city.name if customer.address && customer.address.city %>
			</td>
			<td>
				<%= customer.address_address %>
			</td>
			<td>
					<ul>
						<% customer.phones.each do |phone| %>
							<li> <%= phone.number %> </li>
						<% end %>						
					</ul>
			</td>
			<td>
					<ul>
						<% customer.faxes.each do |fax| %>
							<li> <%= fax.number %> </li>
						<% end %>						
					</ul>
			</td>
			<td> <%= customer.description %> </td>
			<td> 
				<%= link_to "檢視","#",:class=>"btn btn-warning btn-xs", :onClick=>"adminCustomer.showPage(event,#{customer.id})"  %> 
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
