<%# customers, search_key %>

<div class="info-box">
	<div class="page-box">
		<%= paginate customers %>	
	</div>

	<div class="search">
		<%= form_tag admin_customers_path, :method=>:get do %>
			<%= text_field_tag :search, search_key %>
			<%= submit_tag "搜尋" %>
		<% end %>
	</div>

</div>

<div class="new-button">
	<%= link_to "新增客戶資料","",:class=>"btn btn-primary admin-customer-new-button" %>
</div>

<table class="admin-customer-content table table-bordered">
	<thead>
		<tr>
			<td width="3%">  </td>
			<td width="7%"> 編號 </td>
			<td width="10%"> 店名 </td>
			<td width="8%"> 狀態 </td>
			<td width="20%"> 地址 </td>
			<td width="12%"> 電話 </td>
			<td width="12%"> 傳真 </td>
			<td width="12%"> 描述 </td>
			<td width="5%"></td>
		</tr>
	</thead>
	<tbody>
		<% customers.each_with_index do |customer,index| %>
		<tr>
			<td> <%= index+1 %> </td>
			<td> <%= customer.code %> </td>
			<td> <%= customer.name %> </td>
			<td> <%= link_to customer.status, "", :class=>"customer-status active", :customer_id=>customer.id %> </td>
			<td>
					<ul>
						<% customer.addresses.each do |address| %>
							<li> <%= address.address %> </li>
						<% end %>						
					</ul>
			</td>
			<td>
					<ul>
						<% customer.phones.each do |phone| %>
							<li> <%= phone.number %> </li>
						<% end %>						
					</ul>
			</td>
			<td>
					<ul>
						<% customer.faxes.each do |fax| %>
							<li> <%= fax.number %> </li>
						<% end %>						
					</ul>
			</td>
			<td> <%= customer.description %> </td>
			<td> 
				<%= link_to "詳細資料","#",:class=>"btn btn-warning btn-xs admin-customer-show-button", :customer_id=>customer.id %> 
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
