<div class="heading-box">
	<div class="heading-inner">
		<div class="info-box">
			<h2 class="title">
			  客戶清單
			  <span style="font-size:16px;"><%= page_entries_info @customers, :entry_name=>"客戶"%></span>
			</h2>

			<div class="message">
				<% if flash[:success].present? %>
					<div class="success"> <%= flash[:success] %> </div>
				<% elsif flash[:fail].present? %>
					<div class="fail"> <%= flash[:fail] %> </div>
				<% end %>
			</div>

			<ul class="sub-nav">
				<li> <%= link_to "基本資料", customers_path %> </li>
				<li> <%= link_to "送貨紀錄", deliveried_days_customers_path, :class=>"selected" %> </li>
				<li> <%= link_to "送貨規劃", delivery_plan_days_customers_path %> </li>

			</ul>
		</div>

		<div class="submit-box"> 
			<%= link_to "新增客戶", new_customer_path ,:class=>"btn btn-primary add-new-daily-form" %>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="customer-index">
			<div class="page-box">
				<%= paginate @customers %>								
			</div>

			<table class="table table-bordered customer-index-table">
				<thead>
					<tr>
						<th width="5%"></th>
						<th width="10%"> 編號 </th>
						<th width="15%"> 名字 </th>

						<% 7.times do |d| %>
							<th width="5%">  
									<%= before_day(d)%> 
									<span class="label label-default"><%= t "week_day.#{before_week_day(d)}" %> </span> 
							</th>
						<% end %>
						<th width="5%"></th>
					</tr>
				</thead>

				<tbody>
					<% @customers.each_with_index do |customer,index| %>
					<tr>
						<td> <%= index+1 %> </td>
						<td> <%= customer.code %> </td>
						<td> <%= customer.name %> </td>

						<% 7.times do |d| %>
							<td> 
								<% customer.form_values.each do |form_value| %> 
									<% if d.day.ago.strftime('%y-%m-%d') == form_value.daily_form.date.strftime('%y-%m-%d') %>
										<%= form_value.delivery_person.name %>
									<% end %>
								<% end %>
							</td>
						<% end %>

						<td> <%= link_to "基本資料",customer_path(customer), :class=>"btn btn-warning btn-xs" %> </td>
					</tr>
					<% end %>

				</tbody>
			</table>
		</div>

	</div> <%# content-inner %>
</div> <%# content-box %>


