<div class="menu-box">
	<div class="menu-inner-1">
		<%= link_to "今日路線", delivery_routes_customers_path %>
		<%= link_to "查詢", customers_path, :class=>"selected" %>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="customer-index">
			<div class="search-box">
				<%= form_tag customers_path, :method=>:get do %>
					<div class="box1">
						<%= text_field_tag "search", {}, :value=> @customer_search %>
						<%= submit_tag "搜尋", :class=>"btn btn-primary" %>		
					</div>
				<% end %>
			</div>

			<div class="page-info">
				<div class="page-box">
					<%= paginate @customers %>	
				</div>
				<div class="page-box1">
					<%= page_entries_info @customers, :entry_name=>"客戶" %>						
				</div>

			</div>

			<table class="table table-striped customer-index-table">
				<thead>
					<tr>
						<th width="5%"></th>
						<th width="10%"> 編號 </th>
						<th width="15%"> 名字 </th>
						<th width="10%"> 縣市 </th>
						<th width="30%"> 地址 </th>
						<th width="10%"> 電話 </th>
						<th width="10%"> 傳真 </th>
					</tr>
				</thead>

				<tbody>
					<% @customers.each_with_index do |customer,index| %>
						<tr>
							<td> <%= index+1 %> </td>
							<td> <%= customer.code %> </td>
							<td> <%= customer.name %> </td>
							<td> <%= customer.address.city.try(:name) if customer.address_address %> </td>
							<td>
								<%= customer.address_address %>
							</td>

							<td> 
								<ul>
									<% customer.phones.each do |phone| %>
										<li> <%= phone.number %> </li>
									<% end %>
								</ul>
							</td>

							<td> 
								<ul>
									<% customer.faxes.each do |fax| %>
										<li> <%= fax.number %> </li>
									<% end %>
								</ul>
							</td>

						</tr>
					<% end %>

				</tbody>
			</table>
		</div>

	</div>
</div>
