<div class="heading-box">
	<div class="heading-inner">
		<div class="info-box">
			<h2 class="title">
			  客戶清單(全部)
			</h2>

			<div class="message">
				<% if flash[:success].present? %>
					<div class="success"> <%= flash[:success] %> </div>
				<% elsif flash[:fail].present? %>
					<div class="fail"> <%= flash[:fail] %> </div>
				<% end %>
			</div>

			<ul class="sub-nav">
				<li> <%= link_to "全部", customers_path, :class=>"selected" %> </li>
				<li> <%= link_to "搜尋", search_customers_path %> </li>
			</ul>			
		</div>

		<div class="submit-box"> 
			<%= link_to "新增客戶", new_customer_path ,:class=>"btn btn-primary add-new-daily-form" %>
		</div>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="customer-index-box">
			<div class="page-box">
					<%= paginate @customers, :window=>2 %>				
			</div>

			<table class="table table-striped index-header">	
				<thead>
					<tr>
						<th width="5%"></th>
						<th width="10%"> 編號 </th>
						<th width="15%"> 名字 </th>
						<th width="7%"> 縣市 </th>
						<th width="7%"> 地區 </th>
						<th width="20%"> 地址 </th>
						<th width="20%"> 電話 </th>
						<th width="9%"></th>
					</tr>
				</thead>
			</table>

			<table class="table table-striped index-content">
				<% @customers.each_with_index do |customer,index| %>
					<tr>
						<td> <%= index+1 %> </td>
						<td> <%= customer.code %> </td>
						<td> <%= customer.name %> </td>
						<td> <%= customer.addresses.first.city.try(:name) if customer.addresses.first %> </td>
						<td> <%= customer.addresses.first.district.try(:name) if customer.addresses.first %> </td>
						<td>
							<%= customer.addresses.first.try(:address) %>
						</td>

						<td> <%= customer.phones.map{|p| p.number}.join(',') %> </td>
						<td> 
							<%= link_to "基本資料",customer_path(customer), :class=>"btn btn-warning btn-xs" %>
						</td>
					</tr>
				<% end %>
			</table>
		</div> <%# /.customer-index-box %>

	</div> <%# content-inner %>
</div> <%# content-box %>

<script>


	$("page-box").css({position:'fixed',
											width: $(".page-box").width()							})
	$(".customer-index-header").css({position:'relative',
																		})

</script>



