
<div class="content-box">
	<div class="content-inner">

		<div class="customer-routes">
			<%= form_tag customer_routes_path, :class=>"day-form", :method=>:get do %>
				<%= select_tag "wday", options_for_select(weekday_list.map{|w| [t("week_day.#{w}"),w]} ,@wday), :class=>"date-selector" %>
			<% end %>

			<table class="table content">
				<tr>
					<% @delivery_people.each do |delivery_person| %>					
						<td> 
							<div>
								<%= delivery_person.name %>
													
							</div>
							<%= form_tag customer_routes_path, 
										:target=>".delivery-person-#{delivery_person.id}",
										:class=>"new-form" do %>
								<%= text_field_tag :customer_id, "",:class=>"customer-select" %>
								<%= hidden_field_tag :delivery_person_id, delivery_person.id %>
								<%= hidden_field_tag :wday, @wday %>
								<%= submit_tag "+", :class=>"btn btn-success btn-sm add-new" %>
							<% end %>
						</td>
					<% end %>
				</tr>
				<tr>

					<% @delivery_people.each do |delivery_person| %>
						<td class="delivery-person-<%= delivery_person.id %>" >
							<%= render :partial=>"customer_routes/route_list", :locals=>{:delivery_person=>delivery_person, :wday=>@wday} %>

						</td>	
					<% end %>

				</tr>
			</table>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){
	$('.customer-routes').on('change','.date-selector',function(){
		$('.customer-routes .day-form').submit();		
	})

	$('.customer-routes').on('click','.remove',function(e){
		e.preventDefault();
		var target = $(this).attr('target')

		$.ajax({
			url:$(this).attr('href'),
			dataType: 'json',
			method: 'delete',
			success: function(data){
				$(target).html(data['template'])
				tableSortable();
			}
		})	
	})

	$('.customer-routes .new-form').submit(function(e){
		e.preventDefault();

		var item = $(this).serialize();
		var target = $(this).attr('target')

		$.ajax({
			url:$(this).attr('action'),
			data: item,
			method: 'post',
			dataType: 'json',
			success: function(data){
				$(target).html(data['template'])
				tableSortable();
			}
		})

	})

	<% customerList = Customer.active.map{|c| {:id=>c.id, :text=>"#{c.code}-#{c.name}"}} %>

	$('.customer-routes .customer-select').select2({
		width: '180px',
		height: '16px',
		data: <%= raw customerList.to_json %>
	})

	tableSortable();
})

	var tableSortable = function(){
		$(".delivery-person-col").sortable({
	    items: "tr",
	    update: function(event, ui) {

	        console.log( "Move to " + ui.item.index() );
	        var url = ui.item.attr('url');

	        $.ajax({
	            type: "POST",
	            url: url,
	            dataType: "json",
	            data: {
	                to_index: ui.item.index(),
	            },
	            success: function(data){

	            }

	        })
	    }
		});
	}


</script>

