<div class="menu-box">
  <div class="menu-inner-1">
    <%= link_to "登入", "/users/sign_in", :class=>"selected"%>
    <%= link_to "註冊", "/users/sign_up"%>
  </div>
</div>

<div class="content-box">
  <div class="content-inner">

  <div class="devise-user">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email,:class=>"v-label" %>
        <%= f.email_field :email, autofocus: true, :required=>true %>
      </div>

      <div class="field">
        <%= f.label :password, "密碼",:class=>"v-label"  %>
        <%= f.password_field :password, autocomplete: "off", :required=>true %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, :class=>"check-remember-me" %>
          <%= f.label :remember_me, "記得我的email與密碼",:class=>"remember-me" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "登入", :class=>"btn btn-primary" %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= render "devise/shared/links" %>
    </div>
  </div>

  </div>
</div>
<!-- /.content-box -->