<%# daily_form, form1_values %>

<%= form_tag '#', :class=>"form1-value-form" do %>
	<%= submit_tag "繳交", :class=>'submit' %>
	<table class="table form1-value-form-table">
		<thead>		
			<tr>
				<td></td>
				<td> 客戶 </td>
				<td> 廠商 </td>
				<td> 送貨員 </td>
				<td> 欄數 </td>
				<td> 備註 </td>
				<td></td>
			</tr>
		</thead>
		<tbody>		
		
		<%= render :partial=>"daily_forms/form1_values_edit_row.html", 
							 :collection=> form1_values, 
							 :as=> :form1_value %>

		</tbody>
	</table>

	<%= link_to "新增行數", "", :class=>"form1-value-new btn btn-success" %>

<% end %>

<div class="template" style="display:none;">
	<tr class="form1-value-0" row="0" update="0">
	<td col="0"><span class="order">1</span>
		<input type="hidden" 
					 name="daily_form[form1_values_attributes][value-index][id]" 
					 class="form1-value-id"
					 value="value-id" >
	</td>

	<td col="1"> 	
		<input type="text" 
					 name="daily_form[form1_values_attributes][value-index][customer_id]" 
					 class="t-field form1-value-customer"
					 value="value-customer" >
	</td>

	<td col="2">
		<select class="t-field form1-value-manufacturer" 
						name="daily_form[form1_values_attributes][value-index][manufacturer_id]">
			<option value=""></option>
			<option value="1">豆之味</option>
			<option selected="selected" value="2">大蕓</option>
		</select>
	</td>

	<td col="3">
		<select class="t-field form1-value-delivery" name="daily_form[form1_values_attributes][value-index][delivery_person_id]">
			<option value=""></option>
			<option value="1">AA-邱益同</option>
			<option value="2">BB-邱繼正</option>
			<option selected="selected" value="3">CC-周美雲</option>
			<option value="7">GG-張博軒</option>
			<option value="8">HH-吳東洲</option>
		</select>
	</td>

	<td col="4"> 
		<input type="number" 
					 name="daily_form[form1_values_attributes][value-index][basket]" 
					 value="value-basket"> 
	</td>

	<td col="5"> 
		<input type="text" 
					 name="daily_form[form1_values_attributes][value-index][note]" 
					 id="daily_form_form1_values_attributes_0_note" 
					 value="value-note">
	</td>

	<td col="6"> 
		<span class="updated label label-success label-xs"></span>
		<span class="delete"><a href="" class="form1-value-delete btn btn-danger btn-xs">X</a></span>
	</td>
</tr>

</div>


<script>

$(document).ready(function(){

	var urls={
		submit:"<%= update_form1_daily_form_path(daily_form) %>",
		remove:"/daily_forms/delete_form1_value/",
		add:"<%= new_form1_value_daily_forms_path %>"
	}

	var dataManager = {
		replaceWord: function(template,attr,keyWord,newValue){
			template.find('[name]').each(function(index,element){
				$(element).attr('name', $(element).attr('name').replace('value-index',3))
			})			
		},
		addNewRow: function(index){
			var template = $('.form1 .template').clone();
			this.replaceWord(template, name, )

			console.log(template.html());
		}
	}

	dataManager.addNewRow(2);


	var submitData = function(){
		var data = {}
		$('.form1-value-form-table tr').each(function(index,element){
			if ($(element).attr('update') === "1"){
				$(element).find('input,select').each(function(i,input){
					data[$(input).attr('name')] = $(input).val();
				})
			}
		})
		return data;
	}

	var refreshRows = function(){
		var del = "<a href='' class='form1-value-delete btn btn-danger btn-xs'>X</a>"
		$('.form1 tr').each(function(index,element){
			$(element).find('.order').text(index);
			var id = $(element).find('.form1-value-id').attr('value');
			var update = $(element).attr('update');
			if (id || update==="1"){
				$(element).find('.delete').html(del);
			}
		})
	}

	var clearUpdate = function(){
		$('.form1 tr').each(function(index,element){
			$(element).attr('update',0);
		})
	}

	$('.form1 .form1-value-form').submit(function(e){
		e.preventDefault();

		$.ajax({
			url: urls['submit'],
			data: {data:submitData(),submit:1},
			method: 'patch',
			dataType: 'json',
			success: function(data){
				$('.form1').html(data['template'])
			}
		})
	})

	var currentRow = 0
	$('.form1 .form1-value-form').on('focus','input,select',function(e){
		e.preventDefault();
		var row = parseInt($(this).closest('tr').attr('row'));
		if (currentRow != row){
			currentRow = row;
			$.ajax({
				url: urls['submit'],
				data: {data:submitData(),submit:2},
				method: 'patch',
				dataType: 'json',
				success: function(data){
					console.log('update');
					var map_keys = $.parseJSON(data['result']);
					for(index in map_keys){
						$('.form1 [row=' + index + '] .form1-value-id').attr('value',map_keys[index])
					}	
					clearUpdate();					
				}
			})
		}
	})

	$('.form1').on('click','.form1-value-delete',function(e){
			e.preventDefault();
			var target = $(this).closest('tr')
			var index = target.attr('row');
			var id = $('.form1 [row=' + index + '] .form1-value-id').attr('value')

			if (id){
				$.ajax({
					url:urls['remove'] + id,
					method: 'delete',
					dataType: 'json',
					success: function(data){
						if (data['result'].toLowerCase()==="ok"){
							target.remove();
							refreshRows();
						}
					}
				})
			}else{
				$(this).closest('tr').remove();
				refreshRows();
			}
	})

	$('.form1').on('click','.form1-value-new',function(e){
			e.preventDefault();
			var index = parseInt($('.form1-value-form-table tr').last().attr('row')) +1;

			$.ajax({
				url: urls['add'],
				data:{index: index},
				method:'get',
				dataType: 'json',
				success: function(data){
					$('.form1 tbody').append(data['template']);
					addCustomerSelect2($('.form1-value-' + index + ' .form1-value-customer'));
					refreshRows();
				}
			})
	})

	$('.form1').on('change','input,select',function(){
		$($(this).closest('tr')).attr('update',1)
		refreshRows();
	})


	var addCustomerSelect2 = function(object){
		object.select2({
			width: '180px',
			height: '16px',
			data: <%= raw @customer_list.to_json %>
		})
	}	

	addCustomerSelect2($('.form1-value-customer'));
	refreshRows();


})



</script>


