<%# form2_value, index %>
<% index ||= form2_value_counter %>
<tr class="form2-value-<%=index%>" row="" index=<%=index%> update="0">
	<td col="0"><span class="row-number"></span>
		<%= hidden_field_tag "form2_values[#{index}][id]", form2_value.id, :class=>"form2-value-id" %>
	</td>

	<td col="1"> 
			<%= text_field_tag "form2_values[#{index}][customer_id]", form2_value.customer_id, :class=>"t-field form2-value-customer" %>
	</td>

	<td col="2">
		<%= select "form2_values[#{index}]", 
				:manufacturer_id, @manufacturer_list, 
				{:selected=>form2_value.manufacturer_id,:include_blank => ''},
				:class=>"t-field form2-value-manufacturer" %>
	</td col="3">
	<td>
		<%= select "form2_values[#{index}]", 
				:delivery_person_id, @delivery_people_list, 
				{:selected=>form2_value.delivery_person_id,:include_blank => ''},
				:class=>"t-field form2-value-delivery" %>
	</td>

	<td col="4"> 
		<%= number_field_tag "form2_values[#{index}][key1]", 
												 form2_value.key1 %> 
	</td>

	<td col="5"> 
		<%= number_field_tag "form2_values[#{index}][key2]", 
												 form2_value.key2 %> 
	</td>

	<td col="6"> 
		<%= number_field_tag "form2_values[#{index}][key3]", 
												 form2_value.key3 %> 
	</td>

	<td col="7"> 
		<%= number_field_tag "form2_values[#{index}][key4]", 
												 form2_value.key4 %> 
	</td>

	<td col="8"> 
		<%= number_field_tag "form2_values[#{index}][key5]", 
												 form2_value.key5 %> 
	</td>

	<td col="9"> 
		<%= text_field_tag "form2_values[#{index}][note]", 
																	form2_value.note %></td>

	<td col="10"> 
		<span class="updating label label-success label-xs" style="opacity:0">∆</span>
		<span class="delete">
			<%= link_to 'x', '',:class=>"form2-value-delete btn btn-danger btn-xs" %>
		</span>
	</td>
</tr>


