<%# daily_form, form1_values %>

<div class="title">
	<h1> 今日表單 </h1>
	<div class="edit"> 
		<%= link_to "編寫表單",edit_form1_daily_form_path(daily_form), :class=>"btn btn-warning edit-button" %> 
	</div>		
</div>

<table class="table table-striped form1-value-show-table">
	<thead>		
		<tr>
			<td>			 </td>
			<td> 客戶   </td>
			<td> 廠商   </td>
			<td> 送貨員 </td>
			<td> 欄數   </td>
			<td> 備註   </td>
		</tr>
	</thead>
	<tbody>		
	<% form1_values.each_with_index do |form1_value,index| %>
		<tr class="form1-value-<%=form1_value.form_value_index%>">
			<td> <%= index +1 %> </td>
			<td> <%= form1_value.customer.try(:name) %> </td>
			<td> <%= form1_value.manufacturer.try(:name) %> </td>
			<td> <%= form1_value.delivery_person.try(:name) %> </td>	
			<td> <%= form1_value.basket %> </td>
			<td> <%= form1_value.note %> </td>
		</tr>
	<% end %>
	</tbody>
</table>




