<%# form_value, form_keys %>

<% pre_text = "daily_form[form_values_attributes][#{form_value.form_value_index}]" %>

<div class="single-content" row="<%=form_value.form_value_index %>">
	<div class="cell index-col" col=1>
		<%= form_value.form_value_index %> 
		<%= hidden_field_tag "#{pre_text}[id]", form_value.id %>
		<%= hidden_field_tag "#{pre_text}[form_value_index]", form_value.form_value_index %>
	</div>

	<div class="cell customer-col" col=2>	
		<%= text_field_tag "#{pre_text}[customer_id]", form_value.customer_id, :class=>"t-field form-value-customer" %>
		<%# select "#{pre_text}", :customer_id, [], {:selected=>form_value.customer_id,:include_blank => ''},:class=>"t-field form-value-customer" %>
	</div>

	<div class="cell delivery-person-col" col=3>
		<%= text_field_tag "#{pre_text}[delivery_person_id", form_value.delivery_person_id, :class=>"t-field form-value-delivery-person" %>
		<%# select "#{pre_text}", :delivery_person_id, @delivery_people_list, {:selected=>form_value.delivery_person_id, :include_blank=>''},:class=>"t-field form-value-delivery-person" %>
	</div>

	<% index = 4 %>

	<% form_keys.each do |form_key| %>
		<% if form_key.name.present? %>
			<% key_name = "key#{form_key.mapping_key}" %>
			<div class="cell number-col" col=<%= index %> >
				<%= text_field_tag "#{pre_text}[#{key_name}]", form_value[key_name], :class=>"t-field" %>
				<% index +=1 %>
			</div>

		<% end %>
	<% end %>

	<div class="cell note-col" col=<%=index%>>
		<%= text_field_tag "#{pre_text}[note]", form_value.note, :class=>"t-field" %>
	</div>
</div>	<%# single-content %>