<%= form_tag daily_form_path(@daily_form), :method=>:patch, :class=>"daily-form-form" do %>
	<div class="heading-box">
		<div class="heading-inner">
			<div class="info-box">
				<h2 class="title">
				  <%= @daily_form.manufacturer.name %>
				  <%= @daily_form.date %> (編輯中)
				</h2>

				<div class="message">
					<% if flash[:success].present? %>
						<div class="success"> <%= flash[:success] %> </div>
					<% elsif flash[:fail].present? %>
						<div class="fail"> <%= flash[:fail] %> </div>
					<% end %>
				</div>

				<ul class="sub-nav">
					<li> <%= link_to "回報表清單", daily_forms_path %> </li>
				</ul>			
			</div>

			<div class="submit-box"> 
				<%= submit_tag "儲存表單", :class=>"btn btn-warning"%>
			</div>
		</div>
	</div>

	<div class="content-box">
		<div class="content-inner">
		
			<div class="daily-form-single">

				<div class="table-head">
					<div class="table-calc">
						<div class="cell index-col" col="1"></div>
						<div class="cell customer-col" col="2"></div>
						<div class="cell delivery-person-col" col="3"></div>

						<% index = 4 %>
						<% @manufacturer.manufacturer_keys.each do |key| %>
							<% if key.name.present? %>
								<div class="cell number-col", col="<%= index%>"> 

									<% index+=1 %>
								</div>
							<% end %>
						<% end %>
						<div class="cell note-col" col=<%=index%>></div>					
					</div>

					<div class="table-title">
						<div class="cell index-col" col="1">編號</div>
						<div class="cell customer-col" col="2">客戶</div>
						<div class="cell delivery-person-col" col="3">送貨員</div>
						
						<% index=4 %>
						<% @manufacturer.manufacturer_keys.each do |key| %>
							<% if key.name.present? %>
								<div class="cell number-col" col=<%=index%> >
									<%= key.name %>
									<% index+=1 %>
								</div>
					
							<% end %>
						<% end %>
						<div class="cell note-col" col=<%=index%>>備註</div>
					</div>
				</div>

				<div class="table-body">
					<%= render :partial => "daily_forms/single_row_edit", :collection => @daily_form.form_values, :as => :form_value, :locals=>{:form_keys=>@manufacturer.manufacturer_keys} %>
				</div>
				<%= link_to "新增", add_row_daily_form_path(@daily_form), :class=>"btn btn-primary form-add" %>

			</div> <%# daily-form-single %>

		</div> <%# content-inner %>
	</div> <%# content-box %>
<% end %> <%# form_tag %>

<div class="customer-list">
</div>

<script>
//select2
<% deliveryPeopleList = DeliveryPerson.all.map{|p| {:id=>p.id,:text=>"#{p.code}-#{p.name}"}} %>
<% customerList = Customer.all.map{|c| {:id=>c.id, :text=>"#{c.code}-#{c.name}"}} %>

	var addDeliveryPersonSelect2 = function(object){
		object.select2({ 
			width: '180px', 
			height: '26px',
			data: <%= raw deliveryPeopleList.to_json %>
		})
	}

	var addCustomerSelect2 = function(object){
		object.select2({
			width: '180px',
			height: '16px',
			data: <%= raw customerList.to_json %>
		})
	}

	addCustomerSelect2($('.form-value-customer'))
	addDeliveryPersonSelect2($('.form-value-delivery-person'))

// blur
	$('.number-col').find('.t-field').blur(function(e){
		var col = $(this).closest('[col]').attr('col');
		$('.table-calc').find('[col=' + col + ']').text(colTotal(col));		
	});

	var colTotal = function(col){
		var colElms = $('[row]').find('[col=' + col + ']');
		var total = 0;
		colElms.each(function(index){
			var result = parseInt($(colElms[index]).find('input').val());
			if (Number.isInteger(result)){
				total += result;					
			}
		})
		return total;
	}

	var numberCols = $('.table-calc').find('.number-col')
	numberCols.each(function(index){
		col = $(numberCols[index]).attr('col');
		$('.table-calc').find('[col=' + col + ']').text(colTotal(col));
	})

//arrow up down left and right
	$('.t-field').keydown(function(e){
		var col = parseInt($($(this).parent()).attr('col'));
		var row = parseInt($($(this).parent().parent()).attr('row'));

		if (e.keyCode===37) {
			goToDOM(row,col-1)
		}else if(e.keyCode===38) {
			goToDOM(row-1,col)
		}else if(e.keyCode===39) {
			goToDOM(row,col+1)
		}else if (e.keyCode===40 || e.keyCode===13) {
			goToDOM(row+1,col)
		}
		if (e.keyCode===13) {
			e.preventDefault();
		}
	})

	var goToDOM = function(row,col){
		var rowAttr = '[row=' + row + ']'
		var colAttr = '[col=' + col + ']'
		var target = $($(rowAttr).find(colAttr));
		target.find('.t-field').focus();

	}

//form-add
	$('.form-add').click(function(e){
		e.preventDefault();
		console.log($(this).attr('href'));
		console.log($(this).attr('class'));
		$.ajax({
			url: $(this).attr('href'),
			dataType: 'json',
			success: function(data){
				var obj = $.parseJSON(data['data'])
				var id = obj['id']
				var form_value_index = obj['form_value_index']
				var template = data['template']
				$('.table-body').append(template)

				addCustomerSelect2($('[row=' + form_value_index + ']').find('.form-value-customer'))
				addDeliveryPersonSelect2($('[row=' + form_value_index + ']').find('.form-value-delivery-person'))

			}
		})
	})

//timer
	$(document).ready(function(){

		var count = 1;
		var timer;

		var counter_action = function(){
			uploadAll();

			if (count >= 60){
				clearInterval(timer);
			}
			count++;
		}

		timer = setInterval(counter_action,60000);

		var uploadAll = function(){
			$.ajax({
				  method: "patch",
				  url: "<%=raw daily_form_path(@daily_form) %>",
				  data: filteredData(),
				  dataType: 'json',
				  success: function(data){

				  },
					error:function(data){

					}
			})
		}

		var filteredData = function(){
			var uploadData = {};
			for (row = 1; row < $('[row]').length; row++) { 
				var rowData = {};
				$('[row=' + row + ']').find('input').each(function(index){
					var element = $('[row=' + row + ']').find('input')[index]
					if ($(element).val()!=""){
						rowData[$(element).attr('name')] = $(element).val();					
					}
				})

				if (Object.keys(rowData).length>2){
					$.extend(uploadData, rowData);
				}
			}
			return uploadData;
		}

	})

</script>

<%= render 'daily_forms/table_fix_js' %>

