<div class="menu-box">
	<div class="menu-inner">
		<%= link_to "農場表單", "",:class=>"selected",:content=>".customer-route"%>
		<%= link_to "豆之味表單","", :content=>".customer-search"%>
		<%= link_to "表單紀錄","", :content=>".customer-search"%>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="daily-form-index">			
			<div class="form1">	
				<%= render :partial=>"daily_forms/form1_values", :locals=>{:daily_form=>@daily_form, :form1_values=>@form1_values} %>
			</div>		

			<div class="form2">
				
			</div>


			<div class="daily-form-histroy">
				<div class="page-box">
					<%= paginate @daily_forms %>				
				</div>

				<table class="table table-bordered content">
					<thead>
						<tr>
							<th>日期</th>
							<th>編寫者</th>
							<th></th>	
						</tr>
					</thead>
					<tbody>
						<% @daily_forms.each do |daily_form| %>
							<tr>
								<td>
									<%= daily_form.date %>
								</td>
								<td>

								</td>
								<td>
									<%= link_to "查看", daily_form_path(daily_form),:class=>"btn btn-primary btn-xs" %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div> <%# daily-form-index %>


	</div> <%# content-inner %>
</div> <%# content-box %>


