<div class="menu-box">
	<div class="menu-inner">
		<%= link_to "農場表單", "",:class=>"selected",:content=>".form1"%>
		<%= link_to "豆之味表單","",:class=>"", :content=>".form2"%>
		<%= link_to "表單紀錄","",:class=>"", :content=>".daily-form-log"%>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="daily-form-index">			


			<div class="form1">
				<div class="form1-show">
					<%= render :partial=>"daily_forms/form1_values_show", :locals=>{:daily_form=>@daily_form, :form1_values=>@form1_values} %>			
				</div>
				<div class="form1-edit" style="display:none;">
					<%= render :partial=>"daily_forms/form1_values_edit", :locals=>{:daily_form=>@daily_form, :form1_values=>@form1_values} %>
				</div>
			</div>

			<div class="form2" style="display:none;">
				<div class="form2-show">
					<%= render :partial=>"daily_forms/form2_values_show", :locals=>{:daily_form=>@daily_form, :form2_values=>@form2_values} %>			
				</div>
				<div class="form2-edit" style="display:none;">
					<%= render :partial=>"daily_forms/form2_values_edit", :locals=>{:daily_form=>@daily_form, :form2_values=>@form2_values} %>
				</div>				
			</div>

			<div class="daily-form-log" style="display:none;">
				<%= render :partial=>"daily_forms/daily_form_log", :locals=>{:daily_forms=>@daily_forms} %>
			</div>

		</div> <%# daily-form-index %>


	</div> <%# content-inner %>
</div> <%# content-box %>

<script>

$(document).ready(function(){

	$('.form1-show').on('click','.edit-button',function(e){
		e.preventDefault();
		$.ajax({
			url:$(this).attr('href'),
			dataType:'json',
			success:function(data){
				$('.form1-edit').html(data['template']);
				$('.form1-edit').show();
				$('.form1-show').hide();
				form1.addCustomerSelect2($('.form1-value-customer'));
				form1.refreshRows();
			}
		})
	})

	var form1 = {
		currentRow: 0,
		urls: {
						submit:"<%= update_form1_daily_form_path(@daily_form) %>",
						remove:"/daily_forms/delete_form1_value/",
						add:"<%= new_form1_value_daily_forms_path %>"
		},
		submitData: function(){
			var data = {};
			$('.form1-value-form-table tr').each(function(index,tr){
				if ($(tr).attr('update') === "1"){
					$(tr).find('input,select').each(function(i,input){
						data[$(input).attr('name')] = $(input).val();
					})
				}
			})
			return data;
		},
		refreshRows: function(){
			$('.form1-edit tr').each(function(row,tr){
				$(tr).find('.row-number').text(row);
				$(tr).attr('row',row);
				var update = $(tr).attr('update');
				if (update==="1"){
					$(tr).find('.updating').css({opacity:1});
				}else{
					$(tr).find('.updating').css({opacity:0});
				}
			})
		},
		addCustomerSelect2: function(object){
			object.select2({
				width: '180px',
				height: '16px',
				data: <%= raw @customer_list.to_json %>
			})
		}	

	}

	$('.form1-edit').on('submit','.form1-value-form',function(e){
		e.preventDefault();

		$.ajax({
			url: form1.urls['submit'],
			data: {data: form1.submitData(),submit:1},
			method: 'patch',
			dataType: 'json',
			success: function(data){
				$('.form1-show').html(data['template'])
				$('.form1-edit').hide();
				$('.form1-show').show();
			}
		})
	})

	$('.form1-edit').on('focus','input,select',function(e){
		e.preventDefault();
		var row = parseInt($(this).closest('tr').attr('row'));
		if (form1.currentRow != row){
			form1.currentRow = row;
			$.ajax({
				url: form1.urls['submit'],
				data: {data: form1.submitData(),submit:2},
				method: 'patch',
				dataType: 'json',
				success: function(data){
					var index_ids = $.parseJSON(data['result']);
					for(index in index_ids){
						var tr =$('.form1 [index=' + index + ']')
						tr.find('.form1-value-id').attr('value',index_ids[index]);
						tr.attr('update',0);
					}	
					form1.refreshRows();
				}
			})
		}
	})

	$('.form1-edit').on('click','.form1-value-delete',function(e){
			e.preventDefault();
			var tr = $(this).closest('tr')
			var index = tr.attr('index');
			var id = tr.find('.form1-value-id').attr('value')

			if (id){
				$.ajax({
					url: form1.urls['remove'] + id,
					method: 'delete',
					dataType: 'json',
					success: function(data){
						if (data['result'].toLowerCase()==="ok"){
							tr.remove();
							form1.refreshRows();
						}
					}
				})
			}else{
				$(this).closest('tr').remove();
				form1.refreshRows();
			}
	})

	$('.form1-edit').on('click','.form1-value-new',function(e){
			e.preventDefault();
			var index = parseInt($('.form1-edit tr').last().attr('index')) +1;

			$.ajax({
				url: form1.urls['add'],
				data:{index: index},
				method:'get',
				dataType: 'json',
				success: function(data){
					$('.form1 tbody').append(data['template']);
					form1.addCustomerSelect2($('.form1-value-' + index + ' .form1-value-customer'));
					form1.refreshRows();
				}
			})
	})

	$('.form1-edit').on('change','input,select',function(){
		$($(this).closest('tr')).attr('update',1)
		form1.refreshRows();
	})


//form2

	$('.form2-show').on('click','.edit-button',function(e){
		e.preventDefault();
		$.ajax({
			url:$(this).attr('href'),
			dataType:'json',
			success:function(data){
				$('.form2-edit').html(data['template']);
				$('.form2-edit').show();
				$('.form2-show').hide();
				form2.addCustomerSelect2($('.form2-value-customer'));
				form2.refreshRows();
			}
		})
	})

	var form2 = {
		currentRow: 0,
		urls: {
						submit:"<%= update_form2_daily_form_path(@daily_form) %>",
						remove:"/daily_forms/delete_form2_value/",
						add:"<%= new_form2_value_daily_forms_path %>"
		},
		submitData: function(){
			var data = {};
			$('.form2-value-form-table tr').each(function(index,tr){
				if ($(tr).attr('update') === "1"){
					$(tr).find('input,select').each(function(i,input){
						data[$(input).attr('name')] = $(input).val();
					})
				}
			})
			return data;
		},
		refreshRows: function(){
			$('.form2-edit tr').each(function(row,tr){
				$(tr).find('.row-number').text(row);
				$(tr).attr('row',row);
				var update = $(tr).attr('update');
				if (update==="1"){
					$(tr).find('.updating').css({opacity:1});
				}else{
					$(tr).find('.updating').css({opacity:0});
				}
			})
		},
		addCustomerSelect2: function(object){
			object.select2({
				width: '180px',
				height: '16px',
				data: <%= raw @customer_list.to_json %>
			})
		}	

	}

	$('.form2-edit').on('submit','.form2-value-form',function(e){
		e.preventDefault();
		$.ajax({
			url: form2.urls['submit'],
			data: {data: form2.submitData(),submit:1},
			method: 'patch',
			dataType: 'json',
			success: function(data){
				$('.form2-show').html(data['template'])
				$('.form2-edit').hide();
				$('.form2-show').show();
			}
		})
	})

	$('.form2-edit').on('focus','input,select',function(e){
		e.preventDefault();
		var row = parseInt($(this).closest('tr').attr('row'));
		if (form2.currentRow != row){
			form2.currentRow = row;
			$.ajax({
				url: form2.urls['submit'],
				data: {data: form2.submitData(),submit:2},
				method: 'patch',
				dataType: 'json',
				success: function(data){
					var index_ids = $.parseJSON(data['result']);
					for(index in index_ids){
						var tr =$('.form2 [index=' + index + ']')
						tr.find('.form2-value-id').attr('value',index_ids[index]);
						tr.attr('update',0);
					}	
					form2.refreshRows();
				}
			})
		}
	})

	$('.form2-edit').on('click','.form2-value-delete',function(e){
			e.preventDefault();
			var tr = $(this).closest('tr')
			var index = tr.attr('index');
			var id = tr.find('.form2-value-id').attr('value')

			if (id){
				$.ajax({
					url: form2.urls['remove'] + id,
					method: 'delete',
					dataType: 'json',
					success: function(data){
						if (data['result'].toLowerCase()==="ok"){
							tr.remove();
							form2.refreshRows();
						}
					}
				})
			}else{
				$(this).closest('tr').remove();
				form2.refreshRows();
			}
	})

	$('.form2-edit').on('click','.form2-value-new',function(e){
			e.preventDefault();

			var index = parseInt($('.form2-edit tr').last().attr('index')) +1;

			$.ajax({
				url: form2.urls['add'],
				data:{index: index},
				method:'get',
				dataType: 'json',
				success: function(data){
					$('.form2 tbody').append(data['template']);
					form2.addCustomerSelect2($('.form2-value-' + index + ' .form2-value-customer'));
					form2.refreshRows();
				}
			})
	})

	$('.form2-edit').on('change','input,select',function(){
		$($(this).closest('tr')).attr('update',1)
		console.log('change');
		form2.refreshRows();
	})



})


</script>


