<div class="menu-box">
	<div class="menu-inner">
		<%= link_to "農場表單", "",:class=>"selected",:content=>".daily-form"%>
		<%= link_to "表單紀錄","",:class=>"", :content=>".daily-form-log"%>
	</div>
</div>

<div class="content-box">
	<div class="content-inner">

		<div class="daily-form-index">			

			<div class="daily-form">
				<div class="form-show">
					<%= render :partial=>"daily_forms/form_values_show", :locals=>{:daily_form=>@daily_form, :form_values=>@form_values} %>			
				</div>
				<div class="form-edit" style="display:none;">
				</div>
			</div>

			<div class="daily-form-log" style="display:none;">
				<%= render :partial=>"daily_forms/daily_form_log", :locals=>{:daily_forms=>@daily_forms} %>
			</div>

		</div> <%# daily-form-index %>


	</div> <%# content-inner %>
</div> <%# content-box %>

<%= render :partial=>"daily_forms/form_values_js",:locals=>{:daily_form=>@daily_form, :customer_list=>@customer_list} %>




