
<div class="content-box">
	<div class="content-inner">

		<div class="daily-form-single">
			<div class="table-head">
				<div class="table-calc">
					<div class="cell index-col" col="1"></div>
					<div class="cell customer-col" col="2"></div>
					<div class="cell delivery-person-col" col="3"></div>

					<% index = 4 %>
					<% @manufacturer.manufacturer_keys.each do |key| %>
						<% if key.name.present? %>
							<div class="cell number-col", col="<%= index%>"> 
								
								<% index+=1 %>
							</div>
						<% end %>
					<% end %>
					<div class="cell note-col" col=<%=index%>></div>					
				</div>

				<div class="table-title">
					<div class="cell index-col" col="1">編號</div>
					<div class="cell customer-col" col="2">客戶</div>
					<div class="cell delivery-person-col" col="3">送貨員</div>
					
					<% index = 4 %>
					<% @manufacturer.manufacturer_keys.each do |key| %>
						<% if key.name.present? %>
							<div class="cell number-col", col="<%= index%>"> 
								<%= key.name %>
								<% index+=1 %>
							</div>
						<% end %>
					<% end %>

					<div class="cell note-col" col=<%=index%>>備註</div>
				</div>
			</div> <%# table head %>

			<div class="table-body">
				<%= render :partial => "daily_forms/single_row_show", :collection => @daily_form.form_values, :as => :form_value, :locals=>{:form_keys=> @manufacturer.manufacturer_keys} %>
			</div> <%# table body %>


		</div> <%# daily-form-single %>
	</div>
</div>
