<div class="nav-box">
	<div class="nav">
		<h1 class="brand">
			<%= link_to "品冠貨運公司", root_path %>
		</h1>

		<div class="function">
			<div class="user-box">
				<% if current_user %>
					<p> 哈囉! <%= link_to current_user.display_name, "/users/edit_profile" %> </p>
				<% else %>
					<p> <%= link_to "登入", user_session_path %> </p>
				<% end %>
			</div>

			<% if current_user %>
				<ul class="item-list">
					<li><%= link_to "報表", daily_forms_path %> </li>
					<li><%= link_to "客戶", customers_path %> </li>
					<li><%= link_to "設定", admin_customers_path %> </li>
				</ul>
			<% end %>

		</div>
	</div>
</div>

